*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

.caja1 {
    background-color: #465058;
    height: 140px;
}

.caja1 p{
    padding-top: 50px;
    margin-left: 280px;
    color: white;
    font-size: 30px;
}

.caja1 p span{
    color:#4BB1DD;
}

.items{
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    color: white;
 
}

.items a{
    font-size: 20px;
    padding-right: 50px;
}

.Home{
  border: 2px solid #3fd0ff; 
  background-color: transparent;
  color: #3fd0ff;
  padding: 1px ;
  cursor: pointer;
  width: 10px;
  margin-right: 20px;
 
}

.caja2 img{
    margin-top: 47px;
    width: 100%;
}

.caja2 p{
    background-color: #465058;
    margin-top: -500px;
    text-align: center;
}


.caja3 {
    background-color: #3fd0ff;
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    max-width: 2500px;
    margin: auto;
    text-align: center;
    margin-top: 300px;
}

.caja3 .item img {
    width: 70px;         
    margin-bottom: 50px;
}

.caja3 h3 {
    margin-bottom: 15px;
    font-size: 26px;
    color: white;
    font-weight: 700;
}

.caja3 p {
    color: white;
    font-size: 16px;
    width: 80%;
    margin: auto;
    line-height: 22px;
}

.iconos1 img{
    display: grid;
    grid-row: 2/5;
    margin-top: 330px;
}


.iconos1 p{
    font-size: 15px;
}

.port{
    margin-top: 1400px;
    margin-left: 100px;
   
}

.port p{
    font-size: 40px;
}

.port h1{
    margin-top: -12px;
}


.All{
  border: 2px solid #3fd0ff; 
  background-color: transparent;
  color: #3fd0ff;
  padding: 1px ;
  cursor: pointer;
  width: 10px;
  margin-right: 20px;
  width: 30px;
  margin-left: 1000px;
}

.items2  {
    display: flex;
    justify-content: flex-end;
    margin-top: -54px;
    margin-right :400px ;
    gap: 30px;

}

.imgs{
    margin-top: 150px;
    margin-left: 90px;
    display: grid;
    grid-template-rows: 300px 300px 300px 300PX  ;
    grid-template-columns: 280px 280px 280px 280px;
    margin-left: 200px;
    align-items: center;
    column-gap: 40px;
    row-gap: 40px;
}

.caja4{
    background-color: #465058;
    width: 100%;
    height: 700px;
    margin-top: -600px;
}

.just{
    margin-left: 370px;
    padding-top: 170px;
    color: white;
    
}

.just p{
    font-size: 50px;
}

.just h1{
    margin-top: 80px;
    font-size: 17px;
}

.just h2{
    margin-top: 50px;
    font-size: 17px;
}

.but{
    margin-left: 360px;
    width: 130px;
    height: 50px;
    background-color: #465058;
    border: 2px solid;
}

.just img{
    margin-left: 700px;
    margin-top: -400px;
}

.caja5 {
  background-color: #3fd0ff;
  height: 450px;
  color: white;
}

.caja5 p{
    padding-top: 120px;
    margin-left: 400px;
    font-size: 30px;
}

.caja5 h1{
 margin-top: 100px;
 margin-left: 400px;
 font-size: 30px;
 line-height: 50px;
}

.caja5 img{
    margin-left: 1650px;
    padding-top: -700px;  
}

.caja6 img{
    width: 100%;
    height: 600px;
}

.caja6 p{
    margin-top: -500px;
    color: white;
    margin-left: 380px;
    font-size: 40px;
}

.caja6 h1{
    color: white;
    font-size: 13px;
    margin-left: 380px;
    line-height: 20px;
    margin-top: 40px;
}

.caja6 h2{
    font-size: 13px;
    color: white;
    margin-left: 380px;
    margin-top: 20px;
    line-height: 20px;
}
.pud p{
   margin-top: 100px;
   font-size: 13px;
   margin-left:  1000px;
   margin-top: -135px;
   line-height: 20px;
}

.imgs3 img{
    width: 90px;
    height: 80px;
    margin-left: 30px;
}

.imgs3{
    margin-left: 970px;
    margin-top: 30px;
}



